ol.decimal {list-style-type: decimal;}
ol.initial {list-style-type: initial;}
ol.upper-roman {list-style-type: upper-roman;}
ul.circle {list-style-type: circle;}
ol.lower-roman {list-style-type: lower-roman;}
ul.square {list-style: square;}
ol.upper-alpha {list-style-type: upper-alpha;}
ol.lower-alpha {list-style-type: lower-alpha;}
p.h1{font-size: 2.5rem;}
p.h2{font-size: 2rem;}
p.h3{font-size: 1.75rem;}
p.h4{font-size: 1.5rem;}
p.h5{font-size: 1.25rem;}
p.h6{font-size: 1rem;}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}